@tailwind base;
@tailwind components;
@tailwind utilities;

p, h1, h2, h3, h4, h5, div {
  color: white;
}

p {
  font-size: 1.5em;
}

.header-text{
  font-weight: bold;
  font-size: 4em;
  padding: 2.5em;
}

.containerItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.containerItem h2 {
  font-weight: bolder;
  font-size: 2.5rem;
}

.photos {
  width: 500px;
  border-radius: 50%;
}

.right-image {
  margin-left: 15.5em;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 5em;
  margin-top: 3.5em;
}




.details-right {
  grid-column: 2;
  grid-row: 1;
}

.left-image {
  grid-column: 1;
  grid-row: 1;
}