@tailwind base;
@tailwind components;
@tailwind utilities;


.shine-text {
  position: relative;
  display: inline-block;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
  background-size: 200% 100%;
  background-clip: text;
  color: rgba(255, 255, 255, 0.7); /* Grayed-out color */
  animation: shine 3s linear infinite;
}

@keyframes shine {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
